---
layout: about-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.author-pic}}" alt="{{site.author}}">
      </div>
      <p class="subtitle">Hey! I'm Jenny. Thanks for checking out my blog.</p>
      <p style="text-align: left;">I've always been fascinated by how people's minds work and I absolutely love it when people share the innerworkings of their mind with me - their passions, interests, pains, etc.
        I've realized though that in order to really get someone to divulge these internal thoughts to you, it's important to ask the right questions.
        I'm a huge fan of Tim Ferriss' podcasts and Tom Bilyeu's Youtube show "Impact Theory" - their ability to pick apart their guests' brains and steer the conversation is truly impressive and stems from their ability to ask compelling questions.
        In light of this, my hopes from this blog are that I'll be able to showcase some really interesting people and become a better conversationalist by improving my ability to pose better questions.</p>
        <p style="text-align: left;">To help me achieve these goals, please reach out to me if you ever have any feedback
        or awesome people that I can chat with!</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:jennytkim@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="http://conversationjournal.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://www.linkedin.com/in/jennytkim/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/jennytkim" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}

      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
